<VirtualHost *:{{ http_port }}>
  ServerAdmin {{ admin_mail }}
  ServerName {{ webserver_hostname }}
  ServerAlias {{ webserver_hostname_alias }}
  ServerAlias *.vagrantshare.com

  DocumentRoot /var/www/site/webroot

  <Directory /var/www/site/webroot>
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>

  ErrorLog /var/www/logs/error.log

  LogLevel warn
  CustomLog /var/www/logs/access.log combined
</VirtualHost>