 __        __   _                                        ____                         _ 
 \ \      / /__| |__  ___  ___ ___  _ __   ___          |  _ \ _ __ _   _ _ __   __ _| |
  \ \ /\ / / _ \ '_ \/ __|/ __/ _ \| '_ \ / _ \  _____  | | | | '__| | | | '_ \ / _` | |
   \ V  V /  __/ |_) \__ \ (_| (_) | |_) |  __/ |_____| | |_| | |  | |_| | |_) | (_| | |
    \_/\_/ \___|_.__/|___/\___\___/| .__/ \___|         |____/|_|   \__,_| .__/ \__,_|_|
                                   |_|                                   |_|            